.location{
	border-bottom: 1px solid silver;
}
.location ul li{
   list-style: none;
}
.whatsapp ul {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-bottom: 0px;
    height: 100%;
    align-items: center;
}

.location ul {
    display: flex;
    margin-bottom: 0px;
    height: 100%;
    align-items: center;
}
.whatsapp{
	border-bottom: 1px solid silver;
	text-align:right;
	height:40px;
	justify-content: space-between;
}
.fa-solid{
	color:#ff7f00;
	padding:5px;
	margin-left:35px;
}
.color{
	color:#555555;
	font-size:13px;
	font-weight:500;
}
.fa-whatsapp{
	color:green;
}
.phone{
	color:black;
	font-size:14px;
	font-weight:500;
	padding:5px;
	margin-right:35px;
}
.icon{
	color:#ff7f00;
	margin-right:35px;
	padding:5px;
	word-spacing:6px;
}
.header{
	display: flex;
	align-items: center;
	padding: 25px 0px
}
.header li a{
	text-decoration: none;
	color: #555555;
	font-size: 17px;
	font-weight:500;
	font-family: serif;
}
.clicking a{
	    color: #ff7f00;
}
.view a{
    color: #ff7f00;
}
.Register a{
	    color: #ff7f00;
}
.footer-content a{
	color: #ff7f00;
}
.header li a:hover{
	color: #ff7f00;
}
.header ul li{
	display:inline-block;
	margin-top: 17px;
	padding-left:35px;
}
.enquire{
	border: none;
	width: 200px;
	height:45px;
	background-color: #ff7f00;
	color:white;
	font-weight: bold;
	font-size:15px;
	border-radius:30px;
}
.white{
	color: white;
	margin:0;
}
.home a{
	color: orange !important;
}
.button{
	    text-align: end;
	}
.usha{
		text-align:end;
		width: 60%;
		height: 100%;
}
.logoimg{
	text-align: center;
}
.main{
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.imgdiv{
	text-align: right;
	position: relative;
}
.imgdiv img {
    max-width:600px;
    padding-right: 20px;
}

.welcome{
	position: absolute;
}
.welcome-container {
    position: absolute;
    padding: 30px;
    top:13%;
    text-align:left;
    transform: translate(0,50%);
    width:100%;
    line-height: normal;
    font-family:serif;
}
.academy{
	font-size:65px;
	font-weight: bold;
}
.pera{
	color:#555555;
	line-height:28px;
	margin-top:20px;
}
.enroll{
	border: none;
	width: 250px;
	height:55px;
	margin-top:20px;
	background-color:#ff7f00;
	color:white;
	font-weight: bold;
	font-size:20px;
	border-radius:30px;
}
.image-blocks {
    margin: 10px;
    border-radius:15px;
    box-shadow: 2px 2px 4px 0px #00000054;
}
.course{
	height: auto;
	margin-top:50px;
	background-color: #f5f5f5;
    border-top-left-radius: 200px;
}
.our{
	margin-top:10px;
}
.margin-top{
	margin-top: 100px;
}
.our h1{
    font-weight: bold;
    text-align: center;
    font-family: serif;
    padding-top: 50px;
}
.orange{
	color:#ff7f00;
}
.course-heading{
	font-weight: bold;
	text-align: center;
	margin-top:50px;
	color: black;
	font-family:serif;
	font-size: 40px;
}
.image-container img {
    width: 100%;
    height:230px;
}
.margin{
	margin: 0px;
}

.web-color{
	color:#fff;
	background-color: #ff7f00 !important;
}
.web-color a{
	color: white;
}
.web-color i{
	color: white;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
	color:#ff7f00;
	text-decoration: none;
}

.Graphic {
    font-size: 23px;
    font-weight: bold;
    font-family: serif;
}

.content-container {
    padding:25px;
    background-color: white;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    box-shadow: 1px 1px silver;
}

.course .col-md-4 {
    padding: 0px;
    margin: 0px;
}

.image-container {
    padding: 10px;
}
.course-hr{
	border: 2px solid #ff7f00;
	max-width:70px;
	margin: auto;
	opacity:unset;
	margin-top: 10px;
	
}
.view{
	text-align: center;
	margin-top:40px;
	color:#ff7f00;
	font-weight: bold;
	font-family:sans-serif;
}
.why{
	margin-top: 20px;
	height:auto;

}
.row-write{
	margin-top:140px;
}
.heading{
	border-left:3px solid #ff7f00;
	font-weight: bold;
	font-family: serif;
	font-size:40px;
	padding-left:15px;
}
.row-write p{
    padding-top:15px;
    line-height:27px;
    color: #555555;
    font-size:17px;
    font-family: serif;
}
.img-girl{
	max-width:800px;
}
.key{
	font-family: serif;
	font-size:20px;
	font-weight:bold;
	display: block;
	padding-top:20px;
}
.Feature{
	list-style-type: none;
	line-height:30px;
	padding: 0px;
	color:#555555;
    font-size: 14px;
}
.fa-greater-than{
	margin: 0px;
	color:#555555;
	font-size: 13px;
}
.Our-Academy{
	margin-top:110px;
}
.imgrad{
      width: 100%;
}
.academy-fetur
{
	margin: 0px;
	padding: 0px;
}
.extra-css {
    background: transparent !important;
    margin: 0px;
    padding: 0px;
}
.imgwrapper {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
}
.gall-cont{
	padding-top:15px !important;
	padding-left:5px !important; 
}
.heading-write{
	height:18px;
	font-family: serif;
	padding-top:15px;
	font-size: 14px;
	color:#555555;
}
.heading-write-span{
	font-weight: bold;
	font-size: 20px;
	display: block;
}
.heading-write p{
	padding-top: 5px;
}
.kick-start{
	margin-top:140px;
}
.kick{
	font-family: serif;
	max-width: 1200px;
	background-color:lavenderblush;
	padding: 50px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	align-items: center;
}
.kick h5{
	font-weight: bold;
	font-size:45px;
}
.start-padding{
	padding-left:65px;
}
.start h1{
	border-left: 3px solid #ff7f00;
	padding-left: 20px;
}
.demo{
	color:#555555;
	font-weight:500;
}
.enbutton{
	border: none;
	width: 230px;
	height:55px;
	border-radius:40px;
	background-color: #ff7f00;
	color: white;
	text-align: center;
	font-size:17px;
	font-weight: bold;
	cursor: pointer;
}
.start-button{
	text-align: right;
}
.event{
	margin-top: 20px;
}
.imgrad{
	max-width: 100%;
	border-radius:20px;
}
.event-write{
	font-family: serif;
}
.date{
  font-size: 13px;
  color:#555555;
  font-weight: 500;
  display: block;
  padding-top:10px;
}
.eventmarg{
	 color:#555555;
	  font-weight:bold;
	  font-size:18px;
	  padding-top:5px;
	  display: block;
}
.events-pera{
	padding-top: 5px;
	 color:#555555;
	 font-size: 15px;
}
.Register{
	font-size:18px;
	font-weight: bold;
	color: #ff7f00;
}
.view-bttn{
    text-align: center;
    padding-top:80px;
}
.eveutt{
	border: none;
	width:250px;
	height:55px;
	background-color: #ff7f00;
	color: white;
	border-radius:30px;
	font-weight: bold;
	font-size:15px;
}
.get-in{
	border-top-left-radius:200px;
	margin-top:60px;
	background-color: #f5f5f5;
}
.touch h2{
	font-family: serif;
	font-weight: bold;
	padding-left:15px;
	font-size:40px;
}
.touch{
	margin-top:100px;
	padding-left:60px;
}
.left-border{
	border-left: 3px solid #ff7f00;
}
.get-contain{
	font-size: 13px;
	color:#555555;
	font-weight:500;
	padding-top: 10px;
	line-height: 22px;
}
.call-div{
	color:#555555;
	font-weight:500;
	font-size: 15px;
	margin-top:70px;
}
.call-div span{
	padding-left: 20px;
}
.con-buttn{
	border: none;
	background-color:#ff7f00;
	width: 242px;
	height:55px;
	border-radius:50px;
	font-size:17px;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.call-buttn span{
	font-size:17px;
	text-align: center;
	align-items: center;
}
.mail-div{
	font-weight:500;
	color:#555555;
	font-size: 15px;
	margin-top:40px;
}
.mail-div span{
	padding-left: 20px;
}
.mail-buttn{
	border:1px solid silver;
	width: 242px;
	height:53px;
	border-radius:50px;
	font-size:17px;
	color:#555555;
	font-weight: bold;	
	display: flex;
	align-items: center;
	justify-content: center;
}
.mail-buttn span{
	font-size:17px;
	padding-right: 20px;
	text-align: center;
	align-items: center;
}
.fa-square-whatsapp{
	font-size: 30px;
	text-align: left;
	padding-top: 10px;
	color: green;
}
.fa-regular{
	color:#555555;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
}
.name{
	border: none;
	border-radius: 5px;
	margin-top:20px;
	width:330px;
	height:35px;
	background-color:#f5f5f5;
	display: flex;
	font-weight:500;
	font-size:12px;
}
.touch-form{
	border: 1px solid silver;
	border-radius:15px;
	background-color: white;
	max-width: 420px;
	margin: 100px auto;
}
.textarea{
	border: none;
	border-radius: 5px;
	margin-top:20px;
	width:330px;
	height:80px;
	background-color:#f5f5f5;
	display: flex;
}
.sumbit{
	border: none;
	background-color: #ff7f00;
	width:330px;
	height:60px;
	margin-top:25px;
	border-radius: 50px;
	font-size:15px;
	color: white;
	font-weight: bold;
}
form.form > * {
    width: 100%;
}
form.form {
    padding: 20px;
}
.clicking{
	margin-top: 10px;
	color:#555555;
	font-size:13px;
}
.trending{
	margin-top: 100px;
}
.trending-div{
	padding:20px;
	text-align: center;
}
.trending-img{
	border: 1px solid silver;
	border-radius: 10px;
	text-align: center;
	width: 10.11%;
	display: flex;
	display: inline-block;
	  margin:3px;
}
.trending-heding{
    border-left: 3px solid #ff7f00;
}
.trending-heding h3{
	font-family: serif;
	font-weight: bold;
	padding-left:8px;
	font-size: 40px;

}
.tools-img{
    max-width:100%;
    border-radius: 20px;
    height: 100px;
    object-fit: contain;
}
.our{
	margin-top:100px;
}
.user-content{
	margin-top:20px;
}
.user-heading{
	text-align: center;
}
.black{
	color: black;
}
.user-heading h4{
	font-family: serif;
	font-weight: bold;
	font-size: 40px;
}
.fa-star{
	margin: 0px;
	padding: 0px;
}
.user-pera{
	padding-top: 10px;
	font-size: 13px;
    color: #555555;
    font-weight: 500;
    line-height:21px;
}
.user-icon{
	padding-top:22px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.Ramji{
	color: black;
	font-size: 15px;
	font-weight: bold;
}
.Developer{
	color: #ff7f00;
}
.socil-icon{
	color:#fff;
	font-size:23px;
	border-radius: 50px;
	display: flex;
	height:30px;
	width:30px;
	background-color:#007ab9;
	align-items: center;
	justify-content: center;
}
.goole-icon{
	width: 30px;
	height: 30px;
}
.placed-img {
	border: 1px solid silver;
	border-radius:8px;
}
.row-parents {
	margin-top: 40px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns:13% 13% 13% 13% 13% 13% 13% ;
}
.our-student{
	margin-top: 120px;
}
.placed-heading h5{
	font-size: 40px;
     font-weight: bold;
     text-align: center;
     font-family: serif;
}
.sehead{
	text-align: center;
	font-size:13px;
    color: #555555;
    font-weight: 500;
}
.com-img{
    width: 120px;
    height:81px;
}
.footer{
	border-top-right-radius:150px;
	margin-top: 100px;
	background-color: black;
}
.footer-row{
	padding-top:80px;
}
.logo-margin{
    padding:30px;
}
.Duis{
	display: block;
	padding-top:12px;
	font-size: 13px;
    color:silver;
    font-weight: 500;
    line-height:21px;
}
.link-heding{
	font-family: serif;
	font-weight: bold;
	font-size:17px;
	color: #ff7f00;
}
.quick-link ul{
	display: block;
	list-style-type: none;
	margin:0px;
	padding: 0px;
}
.quick-link a{
	display: block;
	text-decoration: none;
	color:silver;
	font-size: 14px;
	font-weight:500;
	padding-top:10px;
}
.quick-link a:hover{
	color: #ff7f00;
}
.addres{
	padding-left:20px;
}
.reachrad{
	max-width:100%;
	border-radius:10px;
	padding: 5px;
}
.follow{
	display: block;
	font-size: 15px;
	color: silver;
	padding:10px;
}
.reach ul{
	display: flex;
	display: block;
	margin:0px;
	padding:5px;
	display: inline;
}
.reach a{
	text-decoration: none;
	color:silver;
	font-size: 13px;
	font-weight:500;
	padding-top:10px;
	font-size:20px;
}
.reach li{
	display: flex;
	display: inline-block;
	padding:5px;
	padding-top: 0px;
}
.reach a:hover{
	color: #ff7f00;
}
.last-line{
	border:1px solid silver;
	margin-top:40px;
}
.allright{
	font-family: serif;
	color:silver;
	font-size:13px;
	font-weight:500;
	padding: 10px;

}
.phone-screen{
	display: none;
}
.academy-mobile{
	display:none;
}
.javascript {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.resp-head-row{
	align-items: center;
}
.resp-img{
	max-width:120px;
}
.menu-container{
	display:none;
}
.open_menu .menu-container {
    display: block;
}
.header-responsiv{
	display:none;
}
.footer-content{
	font-weight: 500;
}
::placeholder {
  padding:8px;
  font-family: serif;
  font-size:15px;
}











@media screen and (max-width: 768px){
 .location ul {
    justify-content: space-between;
    padding-left: 0px;
}

.whatsapp ul {
    justify-content: space-between;
    padding-left: 0px;
}
.imgdiv img{
	  max-width:380px;

}
i.fa-solid {
    margin-left: 0px;
}
span.icon {
    margin-right: 0px;
}
.footer-content i {
    margin: 0px;
}
.academy{
	font-size:40px;
	font-weight: bold;
}

.welcome-container {
	top: unset;
	transform: unset;
    text-align: left;
    position:relative;
    left:10px;
    width: 100%;
    line-height: normal;
    font-family:serif;
}
.butnow{
	text-align: center;
}
.enroll{
	font-size:20px;
	letter-spacing:2px;
}
.phone-screen{
	display: block;

}
.event-row{
	display: none;
}
.call-div {
    color: #555555;
    font-weight: 500;
    font-size: 15px;
    margin: unset;
}
.mail-div {
    font-weight: 500;
    color: #555555;
    font-size: 15px;
    margin-top:10px;
}
.enbutton {
    border: none;
    width: 200px;
    height:40px;
    border-radius: 40px;
    background-color: #ff7f00;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.start-button {
    text-align:center;
}
.kick {
    font-family: serif;
    max-width: 1200px;
    background-color: lavenderblush;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    align-items: center;
    padding: unset;
}

.img-girl{
     max-width:350px;
}
.heading-write{
	font-size:17px;
	font-weight:500;
}
.Features-div{
	display: none;
}
.academy-mobile{
	display: block;
}
.resp-head-row {
    display: grid;
    grid-template-columns: 10% 50% 40%;
}

.enquire {
    max-width: 100%;
}
.menu-container li{
     list-style-type: none;
}
.menu-container a{
	list-style-type: none;
	text-decoration: none;
	color: #555555;
	font-size:14px;
	font-weight:500;
	padding-top:10px;
}
.menu-container li a:hover{
	color: #ff7f00;
}
.header-responsiv{
	display:block;
    padding: 0px;
}

.menu-container{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.menu-container ul{
	margin-top: 12px;
	padding:10px;
}
.header {
    display: none;
}
.row.row-parents {
    grid-template-columns: 30% 30% 30%;
    gap:12px;
}
.com-img {
    max-width:100%;
    height:60px;
}
.heading{
	font-size: 30px;
}
.heading-write{
	height:unset;
	font-family: serif;
	padding-top:15px;
	font-size: 14px;
	color:#555555;
}
.trending-img{
	border: 1px solid silver;
	border-radius:5px;
	text-align: center;
	width:18.11%;

	 margin:10px;
}
.tools-img{
    max-width:100%;
    height:70px;
    object-fit: contain;
}
.our {
    margin-top:50px;
}
.logo-margin{ 
    text-align: center;
}
.quick-link{
	text-align: center;
}
.kick h5{
	font-size:25px;
}
.course-heading{
	font-size: 35px;
}
.trending-heding h3{
	font-size: 30px;
}
.user-heading h4{
	font-size: 30px;
}
.placed-heading h5 {
	font-size: 30px;
}
.heading-write-span{
	font-weight: bold;
	font-size: 20px;
	display: block;
	padding-left: 10px;
}
.heading-write p{
	padding-top: 5px;
	padding-left: 10px;
}
.imgwrapper {
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 10px;
}
.date {
    font-size: 13px;
    color: #555555;
    font-weight: 500;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}
.eventmarg {
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    display: block;
    padding-left: 10px;
}
.events-pera {
    padding-top: 5px;
    color: #555555;
    font-size: 15px;
    padding-left: 10px;
}
.Register a {
    color: #ff7f00;
    padding-left: 10px;
}
.view a {
    color: #ff7f00;
    font-size: 20px;
}
}